<div style="height: 100%;">
    <div id="div_container">
        <a>
            <div class="container_element1">
                <img class="card_img" src="assets/images/details_logo.png">
                <div id="header" >
                    INFORMATION
                </div>
                <div id="content" >
                    Phone Number :
                    <br>
                    03-999-9999
                    <br>
                    Email address :
                    <br>
                    company@example.com
                </div>
            </div>
        </a>
        <a>
            <div class="container_element2">
                <img class="location_img" src="assets/images/new_location.png">
                <div id="header">
                    VISIT US
                </div>
                <div id="content">
                    Address :
                    <br>
                    Holon-Central,Israel
                </div>
            </div>
        </a>
        <a>
            <div class="container_element3">
                <img class="card_img" src="assets/images/clock_logo.png">
                <div id="header">
                    OFFICE HOURS :
                    <br>
                    <br>
                    Sunday - 08:00 - 14:00
                    <br>
                    Monday - 07:30 - 15:30
                </div>
            </div>
        </a>
    </div>

</div>