<div style="height: 100%;">
    <div id="div_container">
        <a>
            <div class="container_element1">
                <img class="card_img" src="assets/images/details_logo.png">
                <div style="margin-top: 10%;">
                      INFORMATION
                </div>
                <div style="margin-top: 10%;">
                    Phone Number :
                    <br>
                    03-999-9999
                    <br>
                    Email address :
                    <br>
                    company@example.com
                </div>
            </div>
        </a>
        <a>
            <div class="container_element2">
                <img class="location_img" src="assets/images/new_location.png">
                <div style="margin-top: 10%;">
                    VISIT US
                </div>
                <div style="margin-top: 10%;">
                    Address :
                    <br>
                    Holon-Central,Israel
                </div>
            </div>
        </a>
        <a>
            <div class="container_element3">
                <img class="card_img" src="assets/images/clock_logo.png">
                <div style="margin-top: 10%;">
                    OFFICE HOURS :
                </div>
            </div>
        </a>
    </div>
   
</div>
   




