<header>
    <div>
        <a routerLink="home"><img src="assets/images/LOGO.png" style="width:50px; margin-left: 20px;"></a>
    </div>
    <div id="menu_div">
        <li> <a routerLink="home" routerLinkActive="active-link">HOME</a></li>
        <li><a routerLink="contact" routerLinkActive="active-link">CONTACT</a></li>
    </div>
    <div id="nav_menu">
        <div>
            <mat-menu #appMenu="matMenu">
                <button routerLink="personal-zone" class="menu_btn" mat-menu-item>My-zone</button>
                <button (click)="logOut()" class="menu_btn" mat-menu-item>Log-out</button>
            </mat-menu>
            <button *ngIf="isActive" class="bb" mat-flat-button [mat-menu-trigger-for]="appMenu">hello
                {{userName}} <img src="assets/images/list.png" width="15px" style="margin-left: 5px;"></button>

            <span *ngIf="!isActive" style="font-size: 16px;">hello {{userName}}</span>
        </div>
        <button *ngIf="!isActive" routerLink="login" type="button"
            class="nav_btn">Login</button>
    </div>
</header>