.close_btn_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close_btn {
    outline: none;
}
#success_img{
    display: block; position: relative;left: 20%;
}
#fail_container{
    display: flex;flex-direction: column;justify-content: center;align-items: center;
}