<div style="position: relative;" *ngIf="this.response=='success'">
    <img id="success_img" height="250px" width="300px" src="assets/images/success.png" alt="">
    <div style="padding: 25px;">
        <span>{{message}}</span>
    </div>
    <div class="close_btn_div">
    <button matDialogClose class="close_btn">CLOSE</button>
    </div>
</div>
<div id="fail_container" *ngIf="this.response=='fail'">
    <img height="250px" width="250px" src="assets/images/fail.png" alt="">  
    <div style="padding: 25px;">
       <span>{{message}}</span>
    </div>
        <button matDialogClose class="close_btn">CLOSE</button>
</div>