<mat-tab-group mat-align-tabs="center">
    <mat-tab label="COMPANIES">
        <button mat-fab matTooltip="Add new company" class="addTableItem" (click)="openAddCompanyDialog()">+</button>
        <app-companies-table (deleteCompanyById)="deleteCompany($event)" (refreshTable)="refreshCompaniesTable()"
            *ngIf="!loading" [companiesTableColumn]="companiesTabelColumn" [companiesTableData]="companiesTableData">
        </app-companies-table>
    </mat-tab>

    <mat-tab label="CUSTOMERS">
        <button mat-fab matTooltip="Add new customer" class="addTableItem" (click)="openAddCustomerDialog()">+</button>
        <app-customers-table (refreshTable)="refreshCustomersTable()" (deleteCustomerById)="deleteCustomer($event)"
            [customersTableColumn]="customersTabelColumn" [customersTableData]="customersTableData">
        </app-customers-table>
    </mat-tab>
</mat-tab-group>