<section>
    <!-- <header>
        <div id="header_div">
            <button (click)="moveToCoupons(couponsTable)" class="header_btn">Our Coupons</button>
        </div>
    </header> -->
    <main>
        <div id="user_inf_img">
        </div>
        <div style="margin-top: 100px; font-size: 18px; max-width: 450px;">
            <h3 style="text-align: center;">Welcome </h3>
            <br>
            <p>You come to the right place.
                <br>
                We provide more than 5,000 coupons.
                <br>
                Just click here , and you will find out coupons from the leading companies in the world.
            </p>
            <div style="text-align: center;">
                <button id="main_start_btn" style="outline: none;" type="button" routerLink="/contact">FOR MORE
                    DETAILS</button>
            </div>
        </div>
    </main>

    <div style=" padding: 20px;" id="content" #couponsTable>
        <div>
            <input [(ngModel)]="searchValue" type="search" class="aa" placeholder="Search for a coupon"
                aria-label="Search">
        </div>
        <div
            style="min-height: 450px; margin-bottom: 20px; border-radius: 12px;display: flex;
        box-shadow: 5px 5px 15px rgb(156, 146, 146); background-color: #ffffff; max-width: 1200px;flex-wrap: wrap;justify-content: space-evenly;">

            <app-thumbnail (click)="openCouponDetailsDialog(coupon)"
                *ngFor="let coupon of coupons | homeCouponsFilter :searchValue" [coupon]="coupon"></app-thumbnail>
            <span *ngIf="(coupons|homeCouponsFilter:searchValue).length==0">
                <div style="display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;
                padding: 50px;
                align-items: center;">
                    <span style="font-size: 30px;">Sorry, we can't found what you are looking for...</span>
                    <img width="150px" src="assets/images/couponNotFound.png">
                </div>
            </span>
        </div>
    </div>

</section>