<div class="card">
  <img src="assets/images/coupons_images/{{coupon.image}}" alt="...">
  <div class="card-body">
    <span class="card_body_span1">{{coupon.title}}</span>
    <p style="margin-top: 0!important;">
      <label>Category: </label> <span>{{coupon.category}} </span>
      <label>Description: </label> <span>{{coupon.description}} </span>
      <label>Price: </label> <span>{{coupon.price}} </span>
      <!-- <label>Company: </label> <span>{{coupon.company.name}} </span> -->
    </p>
  </div>
  <a class="card_a1">BUY NOW</a>
</div>