<div class="card">
  <img src="assets/images/coupons_images/{{coupon.image}}" alt="...">
  <div class="card-body">
    <span style="text-align: center;">{{coupon.title}}</span>
    <p style="margin-top: 0!important;">
      <label>Category: </label> <span>{{coupon.category}} </span>
      <label>Description: </label> <span>{{coupon.description}} </span>
      <label>Price: </label> <span>{{coupon.price}} </span>
      <!-- <label>Company: </label> <span>{{coupon.company.name}} </span> -->
    </p>
  </div>
  <a style="width: 100%;
    position: absolute;
    background-color: #191919;
    color: #ffffff;
    text-align: center;
    bottom: 0px;
    outline: none;
    bottom: 0px;
    bottom: 0;
    height: 15%;
    border-radius: 0px 0px 25px 25px;">BUY NOW</a>
</div>