<div id="search_options_div" >
  <span style="width: 225px;">
    <input #maxPrice type="number" placeholder="search by max price">
  </span>
  <button (click)="searchByMaxPrice(maxPrice)" class="filter_btn">Search</button>
  <br>
  <mat-form-field>
    <span>
      <mat-select placeholder="search by category" #category>
        <mat-option *ngFor="let opt of categories|keyvalue" [value]="opt.value">{{opt.value}}</mat-option>
      </mat-select>
    </span>
  </mat-form-field>
  <button (click)="searchByCategory(category)" class="filter_btn">Search</button>
</div>

<button mat-fab matTooltip="Add new Coupon" class="addTableItem" (click)="openAddCouponDialog()">+</button>
<app-coupons-table (refreshTable)="refresh()" (deleteCouponById)="deleteCoupon($event)"
  [couponsTableData]="couponsTableData" [couponsTableColumn]="couponsTabelColumn"></app-coupons-table>
<div *ngIf="!couponsTableData" id="wait_progress_div">
  <div>Please wait , Your request is in progress...</div>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>