<div style="position: relative;">
    <img style="display: block;" height="400px" width="600px" src="assets/images/coupons_images/{{coupon.image}}" alt="">
    <button mat-dialog-close id="close_btn" mat-mini-fab>
    <img src="assets/images/x.png" width="15px" height="15px" alt="">
    </button>
    <div style="padding: 25px;">
        <label>PRICE</label><span>{{this.coupon.price}}</span>
        <br>
        <br>
        <label>CATEGORY</label><span>{{this.coupon.category}}</span>
        <br>
        <br>
        <label>COMPANY</label><span>{{this.coupon.company.name}}</span>
    </div>
    <button mat-dialog-close (click)="buy(this.coupon)" id="buy_btn">{{message}}</button>
</div>