<div style="display: flex;justify-content: space-between;align-items: center; margin: 40px;">
    
    <div>
        
        <input #maxPrice type="number">
        <button (click)="searchByMaxPrice(maxPrice);">Click</button>
        <mat-form-field>
            <mat-select placeholder="Category" #category>
                <mat-option *ngFor="let opt of categories|keyvalue" [value]="opt.value">{{opt.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button (click)="searchByCategory(category);">Click</button>
    </div>
    <div>
    
        <button mat-fab matTooltip="purchase coupon!" class="purchaseNewCouponBtn" [routerLink]="'/home'"
            [fragment]="'couponsTable'"><img width="40px" src="assets/images/buy.png"></button>
    </div>
</div>

<app-coupons-table [couponsTableColumn]="this.couponsTableColumn" [couponsTableData]="this.couponsTableData">
</app-coupons-table>