.purchaseNewCouponBtn {
    border: none;
    height: 90px;
    width: 90px;
    font-size: 25px;
    background-color: rgb(140 136 178);
}

.opt_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}