.purchaseNewCouponBtn {
    border: none;
    height: 90px;
    width: 90px;
    font-size: 25px;
    background-color: rgb(140 136 178);
}

.opt_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}
#wait_progress_div{
    width: 500px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  }